In [1]:
import glob
import os
import pandas as pd
from datetime import datetime

# Read Maxim location for all the months

In [2]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = 'C:/Users/nastj/Downloads/Full Data Set/'

csv_files = glob.glob(path + "/*/*naamsestraat-35-maxim.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_maxim_df = pd.concat(df_list, ignore_index=True)
full_maxim_df.shape

del df_list

C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',
C:\Users\nastj\AppData\Local\Temp\ipykernel_12124\827967155.py:5: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_list = (pd.read_csv(file, sep=';',

In [3]:
full_maxim_df.sort_values(by=['result_timestamp'],inplace=True)

In [34]:
#full_maxim_df['result_timestamp'].dt.month.unique()

In [4]:
full_maxim_df = full_maxim_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_maxim_df.reset_index(inplace=True)

In [7]:
full_maxim_df.to_parquet('Dataset/full_maxim_df.parquet')

In [8]:
test_maxim_df = pd.read_parquet('Dataset/full_maxim_df.parquet')
test_maxim_df

         result_timestamp      lamax       laeq       lceq     lcpeak
0     2022-02-28 08:15:00  61.254440  59.893482  70.730171  82.078201
1     2022-02-28 08:30:00  57.452396  55.584339  65.834549  77.566872
2     2022-02-28 08:45:00  65.140625  63.370537  70.549110  82.375000
3     2022-02-28 09:00:00        NaN        NaN        NaN        NaN
4     2022-02-28 09:15:00        NaN        NaN        NaN        NaN
...                   ...        ...        ...        ...        ...
28537 2022-12-22 14:30:00  56.201946  54.479687  63.375175  75.685280
28538 2022-12-22 14:45:00  56.008957  53.898960  61.879444  74.589996
28539 2022-12-22 15:00:00  55.818611  53.900349  61.837742  74.611458
28540 2022-12-22 15:15:00  55.947151  53.848473  60.613506  74.077431
28541 2022-12-22 15:30:00  55.823135  53.841110  61.586414  74.414322

[28542 rows x 5 columns]

In [38]:
#train_maxim['result_timestamp'].dt.month.unique()

In [40]:
test_maxim_df['result_timestamp'].dt.month.unique()

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [9]:
missing_df = test_maxim_df[test_maxim_df.isnull().any(axis=1)]

In [10]:
missing_df["result_timestamp"].dt.month.unique()

array([ 2,  3, 10, 11, 12])

In [17]:
missing_df['result_timestamp'].dt.day.unique()

array([28, 27, 25, 26, 29, 30, 31,  1,  2, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23,  3,  4,  5,  6,  7,  8,  9])

In [44]:
import calendar

# missing_df['result_timestamp'].map(lambda x: datetime.datetime(x.month, max(calendar.monthcalendar(x.year, x.month)[-1][:5])))

missing_days_months = missing_df['result_timestamp'].apply(lambda x: x.strftime('%B-%d-´%H:%M')) 
for (date_time) in missing_days_months:
    if datetime.strptime(date_time,'%B-%d-´%H:%M').hour <= 5 or datetime.strptime(date_time,'%B-%d-´%H:%M').hour >=19:
        print(date_time)

March-27-´02:00
March-27-´02:15
March-27-´02:30
March-27-´02:45
October-25-´19:00
October-25-´19:15
October-25-´19:30
October-25-´19:45
October-25-´20:00
October-25-´20:15
October-25-´20:30
October-25-´20:45
October-25-´21:00
October-25-´21:15
October-25-´21:30
October-25-´21:45
October-25-´22:00
October-25-´22:15
October-25-´22:30
October-25-´22:45
October-25-´23:00
October-25-´23:15
October-25-´23:30
October-25-´23:45
October-26-´00:00
October-26-´00:15
October-26-´00:30
October-26-´00:45
October-26-´01:00
October-26-´01:15
October-26-´01:30
October-26-´01:45
October-26-´02:00
October-26-´02:15
October-26-´02:30
October-26-´02:45
October-26-´03:00
October-26-´03:15
October-26-´03:30
October-26-´03:45
October-26-´04:00
October-26-´04:15
October-26-´04:30
October-26-´04:45
October-26-´05:00
October-26-´05:15
October-26-´05:30
October-26-´05:45
October-26-´19:00
October-26-´19:15
October-26-´19:30
October-26-´19:45
October-26-´20:00
October-26-´20:15
October-26-´20:30
October-26-´20:45
October-26-´21:00
October-26-´21:15
October-26-´21:30
October-26-´21:45
October-26-´22:00
October-26-´22:15
October-26-´22:30
October-26-´22:45
October-26-´23:00
October-26-´23:15
October-26-´23:30
October-26-´23:45
October-27-´00:00
October-27-´00:15
October-27-´00:30
October-27-´00:45
October-27-´01:00
October-27-´01:15
October-27-´01:30
October-27-´01:45
October-27-´02:00
October-27-´02:15
October-27-´02:30
October-27-´02:45
October-27-´03:00
October-27-´03:15
October-27-´03:30
October-27-´03:45
October-27-´04:00
October-27-´04:15
October-27-´04:30
October-27-´04:45
October-27-´05:00
October-27-´05:15
October-27-´05:30
October-27-´05:45
October-27-´19:00
October-27-´19:15
October-27-´19:30
October-27-´19:45
October-27-´20:00
October-27-´20:15
October-27-´20:30
October-27-´20:45
October-27-´21:00
October-27-´21:15
October-27-´21:30
October-27-´21:45
October-27-´22:00
October-27-´22:15
October-27-´22:30
October-27-´22:45
October-27-´23:00
October-27-´23:15
October-27-´23:30
October-27-´23:45
October-28-´00:00
October-28-´00:15
October-28-´00:30
October-28-´00:45
October-28-´01:00
October-28-´01:15
October-28-´01:30
October-28-´01:45
October-28-´02:00
October-28-´02:15
October-28-´02:30
October-28-´02:45
October-28-´03:00
October-28-´03:15
October-28-´03:30
October-28-´03:45
October-28-´04:00
October-28-´04:15
October-28-´04:30
October-28-´04:45
October-28-´05:00
October-28-´05:15
October-28-´05:30
October-28-´05:45
October-28-´19:00
October-28-´19:15
October-28-´19:30
October-28-´19:45
October-28-´20:00
October-28-´20:15
October-28-´20:30
October-28-´20:45
October-28-´21:00
October-28-´21:15
October-28-´21:30
October-28-´21:45
October-28-´22:00
October-28-´22:15
October-28-´22:30
October-28-´22:45
October-28-´23:00
October-28-´23:15
October-28-´23:30
October-28-´23:45
October-29-´00:00
October-29-´00:15
October-29-´00:30
October-29-´00:45
October-29-´01:00
October-29-´01:15
October-29-´01:30
October-29-´01:45
October-29-´02:00
October-29-´02:15
October-29-´02:30
October-29-´02:45
October-29-´03:00
October-29-´03:15
October-29-´03:30
October-29-´03:45
October-29-´04:00
October-29-´04:15
October-29-´04:30
October-29-´04:45
October-29-´05:00
October-29-´05:15
October-29-´05:30
October-29-´05:45
October-29-´19:00
October-29-´19:15
October-29-´19:30
October-29-´19:45
October-29-´20:00
October-29-´20:15
October-29-´20:30
October-29-´20:45
October-29-´21:00
October-29-´21:15
October-29-´21:30
October-29-´21:45
October-29-´22:00
October-29-´22:15
October-29-´22:30
October-29-´22:45
October-29-´23:00
October-29-´23:15
October-29-´23:30
October-29-´23:45
October-30-´00:00
October-30-´00:15
October-30-´00:30
October-30-´00:45
October-30-´01:00
October-30-´01:15
October-30-´01:30
October-30-´01:45
October-30-´02:00
October-30-´02:15
October-30-´02:30
October-30-´02:45
October-30-´03:00
October-30-´03:15
October-30-´03:30
October-30-´03:45
October-30-´04:00
October-30-´04:15
October-30-´04:30
October-30-´04:45
October-30-´05:00
October-30-´05:15
October-30-´05:30
October-30-´05:45
October-30-´19:00
October-30-´19:15
October-30-´19:30
October-30-´19:45
October-30-´20:00
October-30-´20:15
October-30-´20:30
October-30-´20:45
October-30-´21:00
October-30-´21:15
October-30-´21:30
October-30-´21:45
October-30-´22:00
October-30-´22:15
October-30-´22:30
October-30-´22:45
October-30-´23:00
October-30-´23:15
October-30-´23:30
October-30-´23:45
October-31-´00:00
October-31-´00:15
October-31-´00:30
October-31-´00:45
October-31-´01:00
October-31-´01:15
October-31-´01:30
October-31-´01:45
October-31-´02:00
October-31-´02:15
October-31-´02:30
October-31-´02:45
October-31-´03:00
October-31-´03:15
October-31-´03:30
October-31-´03:45
October-31-´04:00
October-31-´04:15
October-31-´04:30
October-31-´04:45
October-31-´05:00
October-31-´05:15
October-31-´05:30
October-31-´05:45
October-31-´19:00
October-31-´19:15
October-31-´19:30
October-31-´19:45
October-31-´20:00
October-31-´20:15
October-31-´20:30
October-31-´20:45
October-31-´21:00
October-31-´21:15
October-31-´21:30
October-31-´21:45
October-31-´22:00
October-31-´22:15
October-31-´22:30
October-31-´22:45
October-31-´23:00
October-31-´23:15
October-31-´23:30
October-31-´23:45
November-01-´00:00
November-01-´00:15
November-01-´00:30
November-01-´00:45
November-01-´01:00
November-01-´01:15
November-01-´01:30
November-01-´01:45
November-01-´02:00
November-01-´02:15
November-01-´02:30
November-01-´02:45
November-01-´03:00
November-01-´03:15
November-01-´03:30
November-01-´03:45
November-01-´04:00
November-01-´04:15
November-01-´04:30
November-01-´04:45
November-01-´05:00
November-01-´05:15
November-01-´05:30
November-01-´05:45
November-01-´19:00
November-01-´19:15
November-01-´19:30
November-01-´19:45
November-01-´20:00
November-01-´20:15
November-01-´20:30
November-01-´20:45
November-01-´21:00
November-01-´21:15
November-01-´21:30
November-01-´21:45
November-01-´22:00
November-01-´22:15
November-01-´22:30
November-01-´22:45
November-01-´23:00
November-01-´23:15
November-01-´23:30
November-01-´23:45
November-02-´00:00
November-02-´00:15
November-02-´00:30
November-02-´00:45
November-02-´01:00
November-02-´01:15
November-02-´01:30
November-02-´01:45
November-02-´02:00
November-02-´02:15
November-02-´02:30
November-02-´02:45
November-02-´03:00
November-02-´03:15
November-02-´03:30
November-02-´03:45
November-02-´04:00
November-02-´04:15
November-02-´04:30
November-02-´04:45
November-02-´05:00
November-02-´05:15
November-02-´05:30
November-02-´05:45
November-10-´04:00
November-10-´04:15
November-10-´04:30
November-10-´04:45
November-10-´05:00
November-10-´05:15
November-10-´05:30
November-10-´05:45
November-10-´19:00
November-10-´19:15
November-10-´19:30
November-10-´19:45
November-10-´20:00
November-10-´20:15
November-10-´20:30
November-10-´20:45
November-10-´21:00
November-10-´21:15
November-10-´21:30
November-10-´21:45
November-10-´22:00
November-10-´22:15
November-10-´22:30
November-10-´22:45
November-10-´23:00
November-10-´23:15
November-10-´23:30
November-10-´23:45
November-11-´00:00
November-11-´00:15
November-11-´00:30
November-11-´00:45
November-11-´01:00
November-11-´01:15
November-11-´01:30
November-11-´01:45
November-11-´02:00
November-11-´02:15
November-11-´02:30
November-11-´02:45
November-11-´03:00
November-11-´03:15
November-11-´03:30
November-11-´03:45
November-11-´04:00
November-11-´04:15
November-11-´04:30
November-11-´04:45
November-11-´05:00
November-11-´05:15
November-11-´05:30
November-11-´05:45
November-11-´19:00
November-11-´19:15
November-11-´19:30
November-11-´19:45
November-11-´20:00
November-11-´20:15
November-11-´20:30
November-11-´20:45
November-11-´21:00
November-11-´21:15
November-11-´21:30
November-11-´21:45
November-11-´22:00
November-11-´22:15
November-11-´22:30
November-11-´22:45
November-11-´23:00
November-11-´23:15
November-11-´23:30
November-11-´23:45
November-12-´00:00
November-12-´00:15
November-12-´00:30
November-12-´00:45
November-12-´01:00
November-12-´01:15
November-12-´01:30
November-12-´01:45
November-12-´02:00
November-12-´02:15
November-12-´02:30
November-12-´02:45
November-12-´03:00
November-12-´03:15
November-12-´03:30
November-12-´03:45
November-12-´04:00
November-12-´04:15
November-12-´04:30
November-12-´04:45
November-12-´05:00
November-12-´05:15
November-12-´05:30
November-12-´05:45
November-12-´19:00
November-12-´19:15
November-12-´19:30
November-12-´19:45
November-12-´20:00
November-12-´20:15
November-12-´20:30
November-12-´20:45
November-12-´21:00
November-12-´21:15
November-12-´21:30
November-12-´21:45
November-12-´22:00
November-12-´22:15
November-12-´22:30
November-12-´22:45
November-12-´23:00
November-12-´23:15
November-12-´23:30
November-12-´23:45
November-13-´00:00
November-13-´00:15
November-13-´00:30
November-13-´00:45
November-13-´01:00
November-13-´01:15
November-13-´01:30
November-13-´01:45
November-13-´02:00
November-13-´02:15
November-13-´02:30
November-13-´02:45
November-13-´03:00
November-13-´03:15
November-13-´03:30
November-13-´03:45
November-13-´04:00
November-13-´04:15
November-13-´04:30
November-13-´04:45
November-13-´05:00
November-13-´05:15
November-13-´05:30
November-13-´05:45
November-13-´19:00
November-13-´19:15
November-13-´19:30
November-13-´19:45
November-13-´20:00
November-13-´20:15
November-13-´20:30
November-13-´20:45
November-13-´21:00
November-13-´21:15
November-13-´21:30
November-13-´21:45
November-13-´22:00
November-13-´22:15
November-13-´22:30
November-13-´22:45
November-13-´23:00
November-13-´23:15
November-13-´23:30
November-13-´23:45
November-14-´00:00
November-14-´00:15
November-14-´00:30
November-14-´00:45
November-14-´01:00
November-14-´01:15
November-14-´01:30
November-14-´01:45
November-14-´02:00
November-14-´02:15
November-14-´02:30
November-14-´02:45
November-14-´03:00
November-14-´03:15
November-14-´03:30
November-14-´03:45
November-14-´04:00
November-14-´04:15
November-14-´04:30
November-14-´04:45
November-14-´05:00
November-14-´05:15
November-14-´05:30
November-14-´05:45
November-14-´19:00
November-14-´19:15
November-14-´19:30
November-14-´19:45
November-14-´20:00
November-14-´20:15
November-14-´20:30
November-14-´20:45
November-14-´21:00
November-14-´21:15
November-14-´21:30
November-14-´21:45
November-14-´22:00
November-14-´22:15
November-14-´22:30
November-14-´22:45
November-14-´23:00
November-14-´23:15
November-14-´23:30
November-14-´23:45
November-15-´00:00
November-15-´00:15
November-15-´00:30
November-15-´00:45
November-15-´01:00
November-15-´01:15
November-15-´01:30
November-15-´01:45
November-15-´02:00
November-15-´02:15
November-15-´02:30
November-15-´02:45
November-15-´03:00
November-15-´03:15
November-15-´03:30
November-15-´03:45
November-15-´04:00
November-15-´04:15
November-15-´04:30
November-15-´04:45
November-15-´05:00
November-15-´05:15
November-15-´05:30
November-15-´05:45
November-15-´19:00
November-15-´19:15
November-15-´19:30
November-15-´19:45
November-15-´20:00
November-15-´20:15
November-15-´20:30
November-15-´20:45
November-15-´21:00
November-15-´21:15
November-15-´21:30
November-15-´21:45
November-15-´22:00
November-15-´22:15
November-15-´22:30
November-15-´22:45
November-15-´23:00
November-15-´23:15
November-15-´23:30
November-15-´23:45
November-16-´00:00
November-16-´00:15
November-16-´00:30
November-16-´00:45
November-16-´01:00
November-16-´01:15
November-16-´01:30
November-16-´01:45
November-16-´02:00
November-16-´02:15
November-16-´02:30
November-16-´02:45
November-16-´03:00
November-16-´03:15
November-16-´03:30
November-16-´03:45
November-16-´04:00
November-16-´04:15
November-16-´04:30
November-16-´04:45
November-16-´05:00
November-16-´05:15
November-16-´05:30
November-16-´05:45
November-16-´19:00
November-16-´19:15
November-16-´19:30
November-16-´19:45
November-16-´20:00
November-16-´20:15
November-16-´20:30
November-16-´20:45
November-16-´21:00
November-16-´21:15
November-16-´21:30
November-16-´21:45
November-16-´22:00
November-16-´22:15
November-16-´22:30
November-16-´22:45
November-16-´23:00
November-16-´23:15
November-16-´23:30
November-16-´23:45
November-17-´00:00
November-17-´00:15
November-17-´00:30
November-17-´00:45
November-17-´01:00
November-17-´01:15
November-17-´01:30
November-17-´01:45
November-17-´02:00
November-17-´02:15
November-17-´02:30
November-17-´02:45
November-17-´03:00
November-17-´03:15
November-17-´03:30
November-17-´03:45
November-17-´04:00
November-17-´04:15
November-17-´04:30
November-17-´04:45
November-17-´05:00
November-17-´05:15
November-17-´05:30
November-17-´05:45
November-17-´19:00
November-17-´19:15
November-17-´19:30
November-17-´19:45
November-17-´20:00
November-17-´20:15
November-17-´20:30
November-17-´20:45
November-17-´21:00
November-17-´21:15
November-17-´21:30
November-17-´21:45
November-17-´22:00
November-17-´22:15
November-17-´22:30
November-17-´22:45
November-17-´23:00
November-17-´23:15
November-17-´23:30
November-17-´23:45
November-18-´00:00
November-18-´00:15
November-18-´00:30
November-18-´00:45
November-18-´01:00
November-18-´01:15
November-18-´01:30
November-18-´01:45
November-18-´02:00
November-18-´02:15
November-18-´02:30
November-18-´02:45
November-18-´03:00
November-18-´03:15
November-18-´03:30
November-18-´03:45
November-18-´04:00
November-18-´04:15
November-18-´04:30
November-18-´04:45
November-18-´05:00
November-18-´05:15
November-18-´05:30
November-18-´05:45
November-18-´19:00
November-18-´19:15
November-18-´19:30
November-18-´19:45
November-18-´20:00
November-18-´20:15
November-18-´20:30
November-18-´20:45
November-18-´21:00
November-18-´21:15
November-18-´21:30
November-18-´21:45
November-18-´22:00
November-18-´22:15
November-18-´22:30
November-18-´22:45
November-18-´23:00
November-18-´23:15
November-18-´23:30
November-18-´23:45
November-19-´00:00
November-19-´00:15
November-19-´00:30
November-19-´00:45
November-19-´01:00
November-19-´01:15
November-19-´01:30
November-19-´01:45
November-19-´02:00
November-19-´02:15
November-19-´02:30
November-19-´02:45
November-19-´03:00
November-19-´03:15
November-19-´03:30
November-19-´03:45
November-19-´04:00
November-19-´04:15
November-19-´04:30
November-19-´04:45
November-19-´05:00
November-19-´05:15
November-19-´05:30
November-19-´05:45
November-19-´19:00
November-19-´19:15
November-19-´19:30
November-19-´19:45
November-19-´20:00
November-19-´20:15
November-19-´20:30
November-19-´20:45
November-19-´21:00
November-19-´21:15
November-19-´21:30
November-19-´21:45
November-19-´22:00
November-19-´22:15
November-19-´22:30
November-19-´22:45
November-19-´23:00
November-19-´23:15
November-19-´23:30
November-19-´23:45
November-20-´00:00
November-20-´00:15
November-20-´00:30
November-20-´00:45
November-20-´01:00
November-20-´01:15
November-20-´01:30
November-20-´01:45
November-20-´02:00
November-20-´02:15
November-20-´02:30
November-20-´02:45
November-20-´03:00
November-20-´03:15
November-20-´03:30
November-20-´03:45
November-20-´04:00
November-20-´04:15
November-20-´04:30
November-20-´04:45
November-20-´05:00
November-20-´05:15
November-20-´05:30
November-20-´05:45
November-20-´19:00
November-20-´19:15
November-20-´19:30
November-20-´19:45
November-20-´20:00
November-20-´20:15
November-20-´20:30
November-20-´20:45
November-20-´21:00
November-20-´21:15
November-20-´21:30
November-20-´21:45
November-20-´22:00
November-20-´22:15
November-20-´22:30
November-20-´22:45
November-20-´23:00
November-20-´23:15
November-20-´23:30
November-20-´23:45
November-21-´00:00
November-21-´00:15
November-21-´00:30
November-21-´00:45
November-21-´01:00
November-21-´01:15
November-21-´01:30
November-21-´01:45
November-21-´02:00
November-21-´02:15
November-21-´02:30
November-21-´02:45
November-21-´03:00
November-21-´03:15
November-21-´03:30
November-21-´03:45
November-21-´04:00
November-21-´04:15
November-21-´04:30
November-21-´04:45
November-21-´05:00
November-21-´05:15
November-21-´05:30
November-21-´05:45
November-21-´19:00
November-21-´19:15
November-21-´19:30
November-21-´19:45
November-21-´20:00
November-21-´20:15
November-21-´20:30
November-21-´20:45
November-21-´21:00
November-21-´21:15
November-21-´21:30
November-21-´21:45
November-21-´22:00
November-21-´22:15
November-21-´22:30
November-21-´22:45
November-21-´23:00
November-21-´23:15
November-21-´23:30
November-21-´23:45
November-22-´00:00
November-22-´00:15
November-22-´00:30
November-22-´00:45
November-22-´01:00
November-22-´01:15
November-22-´01:30
November-22-´01:45
November-22-´02:00
November-22-´02:15
November-22-´02:30
November-22-´02:45
November-22-´03:00
November-22-´03:15
November-22-´03:30
November-22-´03:45
November-22-´04:00
November-22-´04:15
November-22-´04:30
November-22-´04:45
November-22-´05:00
November-22-´05:15
November-22-´05:30
November-22-´05:45
November-22-´19:00
November-22-´19:15
November-22-´19:30
November-22-´19:45
November-22-´20:00
November-22-´20:15
November-22-´20:30
November-22-´20:45
November-22-´21:00
November-22-´21:15
November-22-´21:30
November-22-´21:45
November-22-´22:00
November-22-´22:15
November-22-´22:30
November-22-´22:45
November-22-´23:00
November-22-´23:15
November-22-´23:30
November-22-´23:45
November-23-´00:00
November-23-´00:15
November-23-´00:30
November-23-´00:45
November-23-´01:00
November-23-´01:15
November-23-´01:30
November-23-´01:45
November-23-´02:00
November-23-´02:15
November-23-´02:30
November-23-´02:45
November-23-´03:00
November-23-´03:15
November-23-´03:30
November-23-´03:45
November-23-´04:00
November-23-´04:15
November-23-´04:30
November-23-´04:45
November-23-´05:00
November-23-´05:15
November-23-´05:30
November-23-´05:45

In [16]:
missing_df['result_timestamp'].dt.month.unique()

array([ 2,  3, 10, 11, 12])

In [47]:
oct_df = test_maxim_df[test_maxim_df['result_timestamp'].dt.month == 10]

In [49]:
missing_oct_df = oct_df[oct_df.isnull().any(axis=1)]

In [50]:
missing_oct_df

         result_timestamp  lamax  laeq  lceq  lcpeak
22961 2022-10-25 12:30:00    NaN   NaN   NaN     NaN
22962 2022-10-25 12:45:00    NaN   NaN   NaN     NaN
22963 2022-10-25 13:00:00    NaN   NaN   NaN     NaN
22964 2022-10-25 13:15:00    NaN   NaN   NaN     NaN
22965 2022-10-25 13:30:00    NaN   NaN   NaN     NaN
...                   ...    ...   ...   ...     ...
23578 2022-10-31 22:45:00    NaN   NaN   NaN     NaN
23579 2022-10-31 23:00:00    NaN   NaN   NaN     NaN
23580 2022-10-31 23:15:00    NaN   NaN   NaN     NaN
23581 2022-10-31 23:30:00    NaN   NaN   NaN     NaN
23582 2022-10-31 23:45:00    NaN   NaN   NaN     NaN

[622 rows x 5 columns]

# read Xior location

In [51]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*xior.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_xior_df = pd.concat(df_list, ignore_index=True)
full_xior_df.shape

(16995383, 5)

In [53]:
full_xior_df.sort_values(by=['result_timestamp'],inplace=True)
full_xior_df = full_xior_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_xior_df.reset_index(inplace=True)
full_xior_df.to_parquet('Dataset/full_xior_df.parquet')

In [54]:
try_df = pd.read_parquet('Dataset/full_xior_df.parquet')

In [76]:
try_df.head(20)

      result_timestamp     lamax      laeq      lceq   lcpeak
0  2022-02-28 14:00:00  51.50000  49.93750  58.96875  70.5625
1  2022-02-28 14:15:00  55.12500  52.96875  66.06250  77.1250
2  2022-02-28 14:30:00  56.00000  52.81250  60.71875  72.8125
3  2022-02-28 14:45:00  55.87500  54.81250  65.18750  75.9375
4  2022-02-28 15:00:00       NaN       NaN       NaN      NaN
5  2022-02-28 15:15:00  56.18750  53.25000  65.62500  78.0625
6  2022-02-28 15:30:00  46.43750  45.06250  59.18750  69.9375
7  2022-02-28 15:45:00  55.59375  53.06250  61.18750  73.9375
8  2022-02-28 16:00:00  53.84375  51.25000  59.00000  74.0625
9  2022-02-28 16:15:00  57.06250  54.96875  61.75000  74.5000
10 2022-02-28 16:30:00  53.21875  52.31250  64.56250  75.5625
11 2022-02-28 16:45:00  59.06250  56.50000  66.18750  77.3125
12 2022-02-28 17:00:00  57.00000  55.18750  64.00000  75.5000
13 2022-02-28 17:15:00  56.18750  52.46875  59.43750  73.6250
14 2022-02-28 17:30:00  56.68750  54.06250  61.09375  74.1875
15 2022-02-28 17:45:00  58.43750  55.96875  64.87500  76.6250
16 2022-02-28 18:00:00  50.96875  48.18750  54.06250  67.2500
17 2022-02-28 18:15:00       NaN       NaN       NaN      NaN
18 2022-02-28 18:30:00  55.96875  52.06250  62.43750  75.4375
19 2022-02-28 18:45:00  50.40625  48.75000  56.09375  69.1875

# read Taste location

In [60]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*taste.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_taste_df = pd.concat(df_list, ignore_index=True)

In [67]:
full_taste_df.sort_values(by=['result_timestamp'],inplace=True)
full_taste_df = full_taste_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_taste_df.reset_index(inplace=True)
full_taste_df.to_parquet('Dataset/full_taste_df.parquet')

# read Kapel location

In [61]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*calvariekapel-ku-leuven.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_kapel_df = pd.concat(df_list, ignore_index=True)

In [68]:
full_kapel_df.sort_values(by=['result_timestamp'],inplace=True)
full_kapel_df = full_kapel_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_kapel_df.reset_index(inplace=True)
full_kapel_df.to_parquet('Dataset/full_kapel_df.parquet')

# read filosovia location

In [62]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*filosovia.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_filo_df = pd.concat(df_list, ignore_index=True)

In [69]:
full_filo_df.sort_values(by=['result_timestamp'],inplace=True)
full_filo_df = full_filo_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_filo_df.reset_index(inplace=True)
full_filo_df.to_parquet('Dataset/full_filo_df.parquet')

# read 81 location

In [63]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*81.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_81_df = pd.concat(df_list, ignore_index=True)

In [70]:
full_81_df.sort_values(by=['result_timestamp'],inplace=True)
full_81_df = full_81_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_81_df.reset_index(inplace=True)
full_81_df.to_parquet('Dataset/full_81_df.parquet')

# read kiosk location useless

In [64]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*stadspark.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_kiosk_df = pd.concat(df_list, ignore_index=True)

In [72]:
#full_kiosk_df.sort_values(by=['result_timestamp'],inplace=True)
#full_kiosk_df = full_kiosk_df.resample('15min',closed = 'right', on='result_timestamp').mean()
#full_kiosk_df.reset_index(inplace=True)
full_kiosk_df.to_parquet('Dataset/full_kiosk_df.parquet')

# read hof location

In [65]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*vrijthof.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_hof_df = pd.concat(df_list, ignore_index=True)

In [73]:
full_hof_df.sort_values(by=['result_timestamp'],inplace=True)
full_hof_df = full_hof_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_hof_df.reset_index(inplace=True)
full_hof_df.to_parquet('Dataset/full_hof_df.parquet')

# read his his-hears location

In [66]:
custom_date_parser = lambda x: datetime.strptime(x, '%d/%m/%Y %H:%M:%S.%f')
path = '/Users/siucheung/School/Modern Data Analytics/project/Full Data Set/'

csv_files = glob.glob(path + "/*/*hears.csv") 
df_list = (pd.read_csv(file, sep=';',
                       usecols=['result_timestamp','lamax','laeq','lceq','lcpeak'],
                       dtype={'lamax':'float16','laeq':'float16','lceq':'float16','lcpeak':'float16'},
                       parse_dates=['result_timestamp'],
                       date_parser=custom_date_parser) 
                       for file in csv_files)

full_hears_df = pd.concat(df_list, ignore_index=True)

In [74]:
full_hears_df.sort_values(by=['result_timestamp'],inplace=True)
full_hears_df = full_hears_df.resample('15min',closed = 'right', on='result_timestamp').mean()
full_hears_df.reset_index(inplace=True)
full_hears_df.to_parquet('Dataset/full_hears_df.parquet')